.joke-card {
  border: 1px solid var(--yellow);
  max-inline-size: 697px;
  inline-size: 100%;
  padding: 23px;
  background-color: #212121;
  border-radius: 20px;
  box-shadow: 0 4px 50px -20px #fed7888d;
  position: relative;
  padding-block-end: 75px;

  .joke-text {
    border-radius: 20px;
    margin-block: 0;
    font: var(--body1-semibold);
  }

  .joke-button {
    position: absolute;
    bottom: 0;
    right: -1px;
    z-index: 1;
    padding-block: 9px;
    padding-inline: 16px;
    overflow: hidden;
    font: var(--button-semibold);
    border-start-start-radius: 20px;
    border-end-end-radius: 20px;
    background-color: var(--yellow);
    color: var(--black);
    border: 1px solid transparent;
    border-inline-end-color: var(--white);
    border-block-end-color: var(--white);
    cursor: pointer;
    /* padding: ; */
  }

  .joke-button span {
    transition: all;
    transition-duration: 300ms;
  }

  .joke-button::after {
    content: '';
    background: #fffcf68d; /* color de fondo hover */
    position: absolute;
    z-index: -1;
    padding: 16px 20px;
    display: block;
    top: 0;
    bottom: 0;
    left: 100%;
    right: -100%;
    -webkit-transition: all 0.35s;
    transition: all 0.35s;
  }

  .joke-button.animate:hover::after {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    -webkit-transition: all 0.35s;
    transition: all 0.35s;
  }
}
