---
import Layout from '../layouts/Layout.astro'
import { JokeCard } from '@/components/JokeCard'
import { Card } from '@/components/Card'
import IconQuestion from '@/icons/IconQuestion.astro'
---

<Layout title="Jokes Genereator">
  <Card top="35%">
    <IconQuestion />
  </Card>
  <Card left="13%" top="70%" rotation="21deg" scale='85%'>
    <IconQuestion />
  </Card>
  <Card left="82%" top="20%" rotation="18deg">
    <IconQuestion />
  </Card>
  <Card left="80%" top="55%" rotation="-24deg" scale='85%'>
    <IconQuestion />
  </Card>
  <div class="joke-card-container">
    <JokeCard client:load />
  </div>
</Layout>

<style>
  .joke-card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    block-size: 100%;
  }
</style>
