---
import Layout from '../layouts/Layout.astro'
import { JokeCard } from '@/components/JokeCard'
import Card from '@/components/Card.astro'
import IconQuestion from '@/icons/IconQuestion.astro'
---

<Layout title="Jokes Genereator">
  <Card left='5%' top="30%" rotation='-14deg' animation={{translateX: '50%', translateY: '20%'}} animationDelay='0s'>
    <IconQuestion />
  </Card>
  <Card left="8%" top="67%" rotation="21deg" scale='85%' animation={{translateX: '-50%', translateY: '-30%'}} animationDelay='0.2s'>
    <IconQuestion />
  </Card>
  <Card left="82%" top="20%" rotation="18deg" animation={{translateX: '-50%', translateY: '30%'}} animationDelay='0.3s'>
    <IconQuestion />
  </Card>
  <Card left="80%" top="55%" rotation="-24deg" scale='85%' animation={{translateX: '50%', translateY: '40%'}} animationDelay='0.1s'>
    <IconQuestion />
  </Card>
  <div class="joke-card-container">
    <JokeCard client:load />
  </div>
</Layout>

<style>
  .joke-card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    block-size: 100%;
  }
</style>
