---
import IconRowLeft from '@/icons/IconRowLeft.astro'
import IconRowRight from '@/icons/IconRowRight.astro'
---

<footer class="footer">
  <div class="content">
    <span>designed and developed by</span>
    <div class="names-icons">
      <a href="https://github.com/Ye1der" class="name" target="_blank">Yeider</a>
      <IconRowLeft />
      <IconRowRight />
      <a href="https://github.com/nicothomas1201" class="name" target="_blank">Nicolas</a>
    </div>
  </div>
</footer>

<style>
  .footer {
    z-index: 2;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-block: 16px;
    font: var(--body2);
    color: var(--white);

    .names-icons {
      display: flex;
      gap: 16px;
      align-items: center;

      .name {
        color: var(--yellow);
        text-decoration: none;
        transition: text-shadow 0.3s ease-in-out;

        &:first-of-type {
          transform: rotate(-15deg);
        }

        &:last-of-type {
          transform: rotate(15deg);
        }

        &:hover {
          text-shadow: 1px 1px 10px #fed7888d;
        }
      }
    }
  }
</style>
